{% extends 'base.html.twig' %}

{% block title %}Nous contacter - TrueclotheParis
{% endblock %}

{% block content %}
	<h1>Nous contacter</h1>
	<p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais</p>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-12">
			{{ form(form) }}
			</div>
		</div>

	{% endblock %}
