{% extends 'base.html.twig' %}


{% block title %}Mon récapitulatif de demande 
{% endblock %}

{% block content %}
	<h2>Mon récacpitulatif
	</h2>
	<p>Votre demandes a bien etait envoyée - Merci pour votre confiance - Nous vous recontacterons</p>
	<hr/>
	<div class="row">
		<div class="col-md-12">
			<div class="order-summary">
				{% for key,orderDetail in order.orderDetails %}
					<div class="row {% if key > 0 %}mt-2{% endif %}">
						<div class="col-2">
							<img src="/uploads/{{ orderDetail.product.illustration }}" alt="{{ orderDetail.product.name }}" height="75px">
						</div>
						<div class="col-8 my-auto">
							{{ orderDetail.product.name }}<br/>
							<small>
								{{ orderDetail.product.subtitle }}
								<br>
							</small>
						</div>
					</div>
				{% endfor %}
			</div>
			<hr>
		</div>
	</div>
{% endblock %}
